[data-js-graph] {
  /* width: 100%; */
  height: clamp(300px, 100vw, 1000px);
}

[data-js-graph] [data-type="arcs"] path {
  cursor: pointer;
}

[data-js-graph] [data-type="links"] path {
  opacity: 0.8;
}

[data-js-graph] [data-type="links"] path[data-passive] {
  opacity: 0.05;
}
