body {
  display: grid;
  min-height: 100vh;
  padding: var(--m);
  background-color: var(--c-bg-1);
  color: var(--c-fg-1);
  font-family: var(--ff-serif);
  grid-template-rows: 1fr auto;
}

svg text {
  font-family: var(--ff-sans);
}

.button {
  border: none;
  appearance: none;
  background-color: inherit;
  cursor: pointer;
}

.button:disabled {
  cursor: not-allowed;
}

.button svg {
  width: var(--m);
  height: var(--m);
  fill: var(--c-fg-1);
}

.button--primary {
  display: flex;
  align-items: center;
}

.button--primary:disabled svg {
  fill: var(--c-fg-3);
}

.button--primary:hover:not(:disabled),
.button--primary:focus:not(:disabled) {
  color: var(--c-prim);
}

.button--primary:hover:not(:disabled) svg,
.button--primary:focus:not(:disabled) svg {
  fill: var(--c-prim);
}

.button--primary:active:not(:disabled) {
  color: var(--c-prim);
}

.button--primary:active:not(:disabled) svg {
  fill: var(--c-prim-interactive);
}

.button--primary svg {
  width: var(--xl);
  height: var(--xl);
}

[data-js-graph] {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column: main;
  grid-row-end: 3;
  grid-row-start: 1;
}

main {
  display: grid;
  grid-template-columns: [side-start] 1fr [side-end main-start] 2fr [main-end];

  /* grid-template-columns:
      [full-start] 1fr [wrapper-start]
      minmax(0, 70rem) [wrapper-end] 1fr [full-end]; */
}

footer {
  position: fixed;
  top: var(--m);
  right: var(--m);
}
