body {
  display: grid;
  min-height: 100vh;
  padding: var(--m);
  font-family: var(--ff-serif);
  grid-template-rows: 1fr auto;
}

svg text {
  font-family: var(--ff-sans);
}

.button svg {
  width: var(--m);
  height: var(--m);
  fill: var(--c-fg-1);
}

[data-js-graph] {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

.navigation-range {
  width: 60%;
}

.weekindicator {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
}
