:root {
  /* stylelint-disable number-max-precision */
  --base: 1rem;          /* Default: 16px */
  --base-xxs: 0.625;     /* R10(0) = 10 */
  --base-xs: 0.78125;    /* R10(1) = 12.5 */
  --base-s: 1;           /* R10(2) = 16 */
  --base-m: 1.25;        /* R10(3) = 20 */
  --base-l: 1.5625;      /* R10(4) = 25 */
  --base-xl: 1.96875;    /* R10(5) = 31.5 */
  --base-xxl: 2.5;       /* R10(6) = 40 */
  /* stylelint-enable number-max-precision */

  --xxs: calc(var(--base) * var(--base-xxs));
  --xs: calc(var(--base) * var(--base-xs));
  --s: calc(var(--base) * var(--base-s));
  --m: calc(var(--base) * var(--base-m));
  --l: calc(var(--base) * var(--base-l));
  --xl: calc(var(--base) * var(--base-xl));
  --xxl: calc(var(--base) * var(--base-xxl));

  /* Color
       ========================================================================== */
  color-scheme: dark light;

  --c-prim: #0f62fe;
  --c-prim-interactive: #0353e9;
  --c-fg-1: #161616;
  --c-fg-2: #525252;
  --c-fg-3: #a8a8a8;
  --c-bg-1: #fff;
  --c-bg-2: #f4f4f4;
  --c-bg-3: #fff;

  /* Font
       ========================================================================== */
  --ff-sans: "Space Grotesk", sans-serif;
  --ff-serif: "Merriweather", serif;
  --fw-normal: 500;
  --fw-bold: 900;
  --lh-tight: 110%;
  --lh-normal: 130%;
  --lh-loose: 150%;

  /* Font
          ========================================================================== */
  --tr-mid: 150ms;
}

/* ==========================================================================
   Dark-Mode
   ========================================================================== */
@media (prefers-color-scheme: dark) {
  :root {
    /* Color
           ========================================================================== */
    --c-fg-1: #f4f4f4;
    --c-fg-2: #c6c6c6;
    --c-fg-3: #6f6f6f;
    --c-bg-1: #161616;
    --c-bg-2: #262626;
    --c-bg-3: #393939;
  }
}
